* {
  box-sizing: border-box;
}

:root{
  --clr-card: #19c7c7;
  --clr-pgntn: azure;
  --clr-btn: greenyellow;
}

body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background: #282c34;
  padding-top: 1em;
  text-align: center;
  justify-content: space-between;
  color: white;
  min-height: 100vh;
}

h2, p {
  margin: 0;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: .8rem;
}

.single-character-card > p {
  font-size: 1.5rem;
}

.single-character-card > h1 {
  font-size: 3rem;
  margin: 0 0 .3em 0;
}

.character-card__hover {
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  }

.character-card__hover:hover {
  transform: scale(1.01);
}

.character-card__btn:hover {
  opacity: 80%;
  transform: scale(1.03);
}

.character-card__btn {
  width: 30%;
  padding: .5em 1em;
  align-self: center;
  margin-top: .5em;
  cursor: pointer;
}

input {
  height: 50px;
  color: white;
  font-size: inherit;
  background: inherit;
  border: none;
}

select {
  background: #282c34;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  width: 5em;
}

select:hover {
  background: #283431;
}

.single-character-card {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.single-character-card__avatar > img {
  width: 70%;
  border-radius: .5em;
  overflow: hidden;
}

@media (min-width: 600px) {
  .filter-component__selector {
    background: #282c34;
    color: white;
    display: flex;
    align-content: baseline;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    gap: .3em;
    overflow: hidden;
    padding: 0 1em;
  }

  .filter-component {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
  }
  .character-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1em;
    justify-content: center;
  }
  .character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 8.5vw;
    min-width: 100px;
    /*border: 5px solid white;*/
    border-radius: .5em;
    background-color: var(--clr-card);
    color: #282c34;
    overflow: hidden;
  }

  .character-card__avatar > img {
    width: 100%;
    margin: 0;

  }
}