:root{
  --clr-card: #19c7c7;
  --clr-pgntn: azure;
  --clr-btn: greenyellow;
}

body {
  background: #282c34;
  padding-top: 2em;
}



.App-link {
  color: var(--clr-pgntn);
  border: 2px solid var(--clr-pgntn);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.character-card {
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
  /*border: solid var(--clr-card);*/
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--clr-card);
  cursor: pointer;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: auto;
  }

.character-card__avatar {
  width: 300px;
  margin: 0 auto;
}

.pagination {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 5px;
}

.pagination__box {
  color: azure;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-size: 2em;
  border: 2px solid var(--clr-pgntn);
  width: 2em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  border-radius: 10%;
}

.character-card__btn {
  background: var(--clr-btn);
  font-size: 1em;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
  font-weight: bold;
  /*border: none;*/
  border: 3px solid white;
  cursor: pointer;
}

.character-card__noCursor {
  cursor: default;
}