:root{
  --clr-card: #19c7c7;
  --clr-pgntn: azure;
  --clr-btn: greenyellow;
}

body {
  display: flex;
  flex-direction: column;
  background: #282c34;
  padding-top: 2em;
  align-items: center;
  text-align: center;
}

.App-link {
  color: var(--clr-pgntn);
  border: 2px solid var(--clr-pgntn);
}
h2, h3 {
  margin: 5px 0;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--clr-card);

}

.character-card__hover {
  cursor: pointer;
}

.character-card > h2{
  font-family: 'Creepster', cursive;
}

.character-card__hover:hover {
  transform: scale(1.01);

}

.character-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  }

.character-card__avatar {
  width: 300px;
  margin: 0 auto;
}

.pagination {
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
}

.pagination__box {
  color: azure;
  font-size: 2em;
  border: 2px solid var(--clr-pgntn);
  padding: 5px 17px;
  cursor: pointer;
  border-radius: 10%;
}

.pagination__box:hover{
  opacity: 30%;
}

.character-card__btn {
  background: var(--clr-btn);
  font-size: 1em;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: bold;
  border: 3px solid white;
  cursor: pointer;
}

.character-card__btn:hover {
  opacity: 80%;
  transform: scale(1.03);
}



.filter-component {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  min-width: 600px;
}

input {
  height: 50px;
  color: white;
  font-size: inherit;
  background: inherit;
  border: none;

}

select {
  background: #282c34;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  width: 5em;
}

select:hover {
  background: #283431;
}

.filter-component__selector {
  background: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-radius: 10px;
  gap: 5px;
  overflow: hidden;
}
